/* General ----------------------------- */

body {
background: #FFFFFF;
font-size: 15px;
color: #222222;
font-family: 'Helvetica', Arial, sans-serif;
line-height: 100%; 
}

a:link, a:active, a:visited {
color: #ffffff;
text-decoration: none;
}

a:hover {
color: #cccccc;
text-decoration: none;
}

b {
color: #000000;
text-decoration: none;
}


/* Isotope ----------------------------- */

.isotope-item {
z-index: 2;
}

.isotope-hidden.isotope-item {
pointer-events: none;
z-index: 1;
}

.isotope,
.isotope .isotope-item {
-webkit-hiatus-duration: 0.8s;
-moz-hiatus-duration: 0.8s;
hiatus-duration: 0.8s;
}

.isotope {
-webkit-hiatus-property: height, width;
-moz-hiatus-property: height, width;
hiatus-property: height, width;
}

.isotope .isotope-item {
-webkit-hiatus-property: -webkit-transform, opacity;
-moz-hiatus-property: -moz-transform, opacity;
hiatus-property: transform, opacity;
}


/* Header ----------------------------- */

#topbar {
position: relative;
width: 100%; 
height: 200px;
background: #FFFFFF;
background-image:url();
background-repeat: no-repeat;
background-position: center;
}

.header {
position: absolute;
width: 360px;
height: 40px;
top: 50%;
left: 50%;
-webkit-transform: translateX(10%) translateY(-50%);
-moz-transform: translateX(10%) translateY(-50%);
-ms-transform: translateX(10%) translateY(-50%);
transform: translateX(10%) translateY(-50%);
line-height: 90%; 
color: #ffffff;
font-family: 'Helvetica', Arial, sans-serif;
text-align: left; 
font-size: 30px;
font-weight: 300;
text-shadow:1px 1px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 0px 1px 0 #000000, 1px 0px 0 #000000, 0px -1px 0 #000000, -1px 0px 0 #000000, 3px 3px 2px #4d4d4d;
}

/* Navigation ----------------------------- */

#shows {
position: relative; 
width: 100%; 
height: 50px; 
margin: 0px auto 10px; 
padding: 12px 0px; 
background: #fcfcfc;
font-family: 'Helvetica', Arial, sans-serif;
text-align: left; 
}

#topnav {
position: relative; 
width: 100%; 
height: 15px; 
margin: 0px auto 10px; 
padding: 5px 0px;
background: #000000;
font-family: 'Helvetica', Arial, sans-serif;
text-align: center; 
}

#topnav li {
display: inline; 
margin: 2px; 
padding: 2px 5px; 
text-align: center; 
font-size: 80%;
}




/* Contents ----------------------------- */

#container {
width: 900px;
position: center; 
text-align: center; 
margin: 10px auto; 
}

.element {
float: left;
background: #cccccc;
width: 192px;
margin: 5px;
padding: 0px 5px 13px 5px; 
text-align: center; 
text-transform: uppercase; 
}

.snow {
background: #4c5ca9;
}

.ski {
background: #bd4a1f;
}

.hockey {
background: #5796c2;
}

.bobsled {
background: #728f2c;
}

.skate {
background: #386352;
}

.luge {
background: #d9860d;
}

.spskate {
background: #e1b00e;
}

.stylewrap  img {
margin: 5px 0px 0px -5px;
width: 200px; 
border: 1px solid #cccccc; 
}

h2 {
margin: 10px 0px 3px; 
line-height: 100%; 
}

#filters {
text-transform: uppercase; 
}

#filters li {
display: inline; 
margin: 2px; 
padding: 2px 5px; 
}
